<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SYS_TITLE" value="冠捷物流平台" />
    <add key="SYS_VERSION" value="2016.04.25-01" />
    <add key="salt" value="or3v5IvvsD" />
    <add key="EDOC_URL" value="https://eshipping.tpv-tech.com/doc2/" />
    <add key="EDOC_URL1" value="https://eshipping.tpv-tech.com/doc2/" />
    <add key="EDOC_SOFTID" value="DC3129C0-2599-4481-A538-24D8604D54AF" />
    <add key="EDOC_ACCOUNT" value="iFreight" />
    <add key="EDOC_PASSWORD" value="1234" />
    <add key="LOCAL_URL" value="https://eshipping.tpv-tech.com/" />
    <add key="WEB_PATH" value="D:\eShipping\Inbound\WebSite\publish" />
    <add key="EDOC_EXPORT_PATH" value="D:\Print_File_FTP\" />
  </appSettings>
</configuration>
