@charset "utf-8";
/* CSS Document */

.div1 {
    width: 490px;
    height: 870px;
    float: left;
    border: 1px solid white;
}
.div-table1 {
    float: left;
    width: 433px;
    height: 800px;
}
.auto-style100 {
    width: 100%;
    height: 100%;
}
.pad1 {
    border: solid 4px Black;
}
.mar1 {
    margin:1px 1px 1px 1px;
}
.auto-style2 {
    margin-left: 12px;
    float: left;
    width: 140px;
    height: 40px;
    text-align: center;
}
.auto-label1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
}
.auto-div1 {
    float: left;
    width: 25px;
    height: 25px;
    text-align: right;
}
.auto-headlabel {
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    vertical-align: middle;
    display: inline-block;
}
.auto-handldiv {
    float: left;
    width: 165px;
    height: 50px;
    text-align: center;
    margin-left: 12px;
    margin-top: 12px;
    line-height:50px;
}
.auto-div2 {
    height: 61%;
    width: 100%;
}
.cwhite {
    color: white;
    height:24px;
}
.cred {
    color: yellow;
}
.Cgreen {
    color:green;
}
.Cyellow {
    color: yellow;
}
.Cbook {
    color: red;
}
.red12 {
    color:red;
    font-size:12px;
}
.yellow12 {
    color:yellow;
    font-size:12px;
}
.OUT {
    background: white;
}
.IN {
    background: #00B050;
}
.Cin {
    color: #00B050;
}
.Cpod {
    color: #00B0F0;
}
.Cout {
    color:white;
}
.POD {
    background: #00B0F0;
}
.SLOTTIME {
    background: red;
}
.ARRIVAL {
    background: yellow;
}
.auto-style3 {
    float: left;
    height: 870px;
    width: 402px;
    margin-left: 8px;
    border: 1px solid white;
}
.border-bottom {
    border: 1px solid white;
}
.auto-div4 {
    width: 88px;
    margin-left: 12px;
    color: white;
    font-size: 20px;
    float: left;
    font-weight: bold;
    height: 46px;
    line-height:46px;
}
.auto-div41 {
    width: 88px;
    margin-left: 12px;
    color: white;
    font-size: 20px;
    float: left;
    font-weight: bold;
    height: 38px;
}
.auto-div5 {
    width: 58px;
    height: 38px;
    color: white;
    font-size: 12px;
    float: left;
    text-align: center;
    font-weight: bold;
}
.auto-div54 {
    width: 88px;
    height: 276px;
    float:left;
}
.auto-div55 {
    width: 88px;
    height: 184px;
    float:left;
    margin-left: 12px;
}
.auto-table1 {
    width: 288px;
    float: right;
    height: 276px;
    margin-right: 3%;
}
.auto-table2 {
    width: 288px;
    float: right;
    height: 184px;
    margin-right: 3%;
}
hr.auto-hr {
    width: 94%;
}

.target {
   width:750px;
   height:3px;
   border:none;
   border-top:3px solid red;
}

div.auto-div7 {
    float: left;
    width: 72%;
    height: 7%;
}
div.auto-div9 {
    float: left;
    width: 100%;
    height: 7%;
}
div.auto-div8 {
    width: 88px;
    margin-left: 3%;
    height: 46px;
    color: white;
    font-size: 15px;
    float: left;
    line-height:46px;
}
.auto-div81 {
    width: 88px;
    margin-left: 3%;
    height: 46px;
    color: white;
    font-size: 12px;
    float: left;
    line-height: 46px;
}
.auto-style40 {
    height: 33px;
}
.auto-style41 {
    width: 48px;
    float: left;
    height: 25px;
}
.auto-style42 {
    width: 48px;
    float: left;
    height: 800px;
}
.auto-style43 {
    width: 69px;
    height: 46px;
    line-height:46px;
}
.auto-div43 {
    float: right;
    width: 975px;
    height: 870px;
    border: 1px solid white;
    margin-left: 7px;
}
.auto-style6 {
    float: right;
    width: 221px;
    height: 250px;
    margin-top: 3%;
}
.auto-height50 {
    height: 383px;
    width: 100%;
}
.auto-height51 {
    height: 288px;
    width: 100%;
}
.auto-width55 {
    width: 20px;
    line-height: 24px;
    height: 200px;
    text-align: center;
}
.auto-height26 {
    text-align: center;
    height: 42px;
    overflow: auto;
    overflow-x: hidden;
    width: 30px;
    float: left;
    font-size: 15PX;
    color: white;
}
.auto-height210 {
    text-align: center;
    height: 42px;
    overflow: auto;
    overflow-x: hidden;
    width: 69px;
}
.auto-height212 {
    text-align: center;
    height: 42px;
    overflow: auto;
    overflow-x: hidden;
    width: 82px;
    color: #fff;
    font-size: 15px;
    float: left;
}
.auto-height218 {
    text-align: center;
    height: 42px;
    overflow: auto;
    overflow-x: hidden;
    width: 90px;
    color: #fff;
    font-size: 15px;
    float: left;
}
.auto-height224 {
    text-align: center;
    height: 42px;
    overflow: auto;
    overflow-x: hidden;
    width: 120px;
    float: left;
    color: #fff;
    font-size: 15px;
}
.center {
    text-align: center;
}
.TTL {
    text-align: center;
    height:30px;
    font-size:20px;
}
.auto-width16 {
    width: 30px;
    float: left;
    text-align: center;
    height: 19px;
    color: white;
    font-size:10px;
}
.tbpod {
    width:28px;
    height:21px;
    text-align:center;
}
.auto-width100 {
    width: 69px;
    float: left;
    text-align: center;
    height: 19px;
    font-size: 12px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.size12 {
    font-size: 15PX;
    color: white;
}
.size12p {
    font-size: 12px;
    color: white;
}
.color0 {
    background: #366092;
}
.color1 {
    background: #76933C;
}
.color2 {
    background: #FFC000;
}
.color3 {
    background: #FFC000;
}
.color4 {
    background: #B1A0C7;
}
.color5 {
    background: #948A54;
}
.color6 {
    background: #963634;
}
.auto-710 {
    width: 69px;
    height: 322px;
    float: left;
}
.auto-790 {
    width: 895px;
    height: 322px;
    float: left;
}
.auto-style7 {
    height: 580px;
    width: 402px;
}
.auto-style8 {
    height: 270px;
    width: 402px;
    border: 1px solid white;
}
.fei_histogram_container_style {
    background: none repeat-x scroll 0 0 #000000 !important;
    border: 2px solid #000000;
    list-style: none outside none;
    margin: 0 4.8px 16px 35px;
    padding: 0;
    position: relative;
}
.fei_histogram_container_rows_style {
    left: 0;
    width: 100%;
    z-index: 1;
    bottom: 0;
    position: absolute;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}
    .fei_histogram_container_rows_style div {
        border-top: medium none;
        position: relative;
        text-align: center;
        list-style: none outside none;
        border-top: 1px dotted #000000;
    }
        .fei_histogram_container_rows_style div p {
            position: absolute;
            right: 101%;
            top: -11pt;
            text-align: center;
            list-style: none outside none;
            color: #FFF;
        }

.fei_histogram_container_col_style {
    bottom: 0px;
    position: absolute;
    text-align: center;
    z-index: 2;
    list-style: none outside none;
}

    .fei_histogram_container_col_style ul {
        list-style: none outside none;
        text-align: center;
    }

    .fei_histogram_container_col_style li {
        color: #ffffff;
        bottom: 0px;
        position: absolute;
        text-align: center;
        list-style: none outside none;
    }
.nowtime {
    color: #FFF;
    width: 48px;
    height: 19px;
    text-align: center;
    float: left;
}
.nowdate {
    color: #FFF;
    width: 120px;
    height: 19px;
    text-align: center;
    float: left;
}
.WsCd {
    width: 120px;
    height: 19px;
    text-align: center;
    float: left;
}
.db3 {
    height:25px;
    width:55px;
    text-align:center;
}
.WhLines {
    height: 23px;
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.Trucker {
    height:40px;
    width:800px;
    float:right;
}
.Relative {
    position:relative;
}
.V2ordinal {
    height:11.111%;
    width:100%;
    color: #FFF;
    text-align: center;
}
.V2timeList {
    width: 100%;
    height: 10%;
    background:#262626;
}
.V2WhBoard {
    width:1200px;
    float:left;
    height:300px;
}
.V2Box1 {
    width:100%;
    height:55%;
    border: 1px solid white;
}
.V2Tb1 {
    width:96%;
    height:90%;
    float:left;
}
.V2Time {
    width:50px;
    height:33px;
    text-align:center;
}
.V2Space {
    width: 48px;
    float: left;
    height: 33px;
    background:#262626;
}
.V2Box2 {
    width:100%;
    height:45%;
}
.V2Box21 {
    width:32%;
    height:100%;
    float:left;
    border: 1px solid white;
}
.V2Box22 {
    width: 35%;
    height: 100%;
    float: left;
    border: 1px solid white;
}
.V2Box23 {
    width: 33%;
    height: 100%;
    float: left;
    border: 1px solid white;
}
.V2Bhead {
    width: 100%;
    height:10%;
    text-align:center;
    background:#262626;
    color: white;
}
.V2Text {
    width:80%;
    height:90%;
    margin : 0% 10% 0% 10%;
}
.V23Text {
    width:90%;
    height:90%;
    margin : 0% 0% 0% 10%;
}
.V2Up {
    width:100%;
    height:80%;
    border-bottom: 1px solid white;
    overflow:hidden;
}
.V2Status {
    width:50%;
    height:100%;
    float:left;
}
.V2Down {
    width:100%;
    height:20%;
}
.V2left {
    width:25%;
    height:100%;
    float:left;
}
.V2Right {
    width:75%;
    height:100%;
    float:left;
}
.V2WHline {
    width:100%;
    height:15%;
}
.V2lines {
    width:20%;
    height:100%;
    float:left;
    text-align:center;
}
.V2WHSum {
    width:100%;
    height:85%;
}
.V2Tb3 {
    width:20%;
    text-align:center;
}
.V2Container {
    width: 90%;
    height:95%;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
}
html,body {
    margin: 0;
    height: 100%;
}
.V2header {
    height: 5%;
    width: 100%;
    overflow: hidden;
}
.V2Content {
    height: 95%;
    width: 100%;
    overflow: hidden;
}
.V2Ttl {
    text-align: center;
}
.V2nowDate {
    color: #FFF;
    width: 12%;
    height: 100%;
    text-align: center;
    float: left;
}
.V2WsCd {
    width: 12%;
    height: 100%;
    text-align: center;
    float: left;
}
.V2nowtime {
    color: #FFF;
    width: 8%;
    height: 100%;
    text-align: center;
    float: left;
}