@{
    ViewBag.Title = "BSCODESetup";
}
<style>
    #page-wrapper {
        padding: 5px;
    }
</style>
<script type="text/javascript" src="@Url.Content("~/Scripts/BSCODECopyOutBound/BSCODESetup.js")"></script>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4">
                    <table id="CodeKindGrid" class="_tableGrid" style="width: 100%">
                        <tr>
                            <td />
                        </tr>
                    </table>
                </div>
                <div class="col-xs-8" style="padding-left:0px;">
                    <table id="BsCodeGrid" class="_tableGrid" style="width: 100%">
                        <tr>
                            <td />
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>