@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@Resources.Locale.L_Error_Error</title>
</head>
<body>
    <h2>
        @Resources.Locale.L_Error_Sorry
    </h2>
</body>
</html>