@{
    ViewBag.Title = "ApproveSignSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #page-wrapper {
        padding: 5px;
    }
</style>

<script type="text/javascript" src="@Url.Content("~/Scripts/EApproved/ApproveSignSetup.js?20240815")"></script>

<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <table id="ExpressSetupGrid" class="_tableGrid" style="width: 100%">
                        <tr>
                            <td />
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
